annotated-types
anyio
certifi
click
colorama
dnspython
email_validator
et-xmlfile
fastapi
fastapi-cli
h11
httpcore
httptools
httpx
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
nodeenv
numpy
openpyxl
pandas
prisma
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
rich
shellingham
six
sniffio
starlette
tomlkit
typer
typing_extensions
tzdata
uvicorn
watchfiles
websockets